

@{
    ViewBag.Title = "SelectOptions";
}

<center><h2>Select Options</h2></center>
<p><br /></p>

<form method=''>
    <button type='button' class="btn btn-primary" value="Add">Add Clinic</button>
    <p><br /></p>

    <button type='button' class="btn btn-primary" value="Edit">Edit Existing Clinics</button>
    <p><br /></p>

    <button type='button' class="btn btn-primary" value="Delete">Delete Clinic</button>
    <p><br /></p>

    <p><br /></p>

    <button type='button' class="btn btn-primary" value="Logout">Logout</button>
</form>
