@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<center><h2>About</h2></center>
<p><br /></p>
<p>Welcome to the Finding a Medical Home system! It is our mission to connect patients to clinics in their area. /n 
    By completing a brief questionaire, patients shall be matched with local clinics based upon their eligibility for care. </p>
